.seat {
  border: none;
  padding: 0;
  background-color: transparent;
  margin-right: 0.5rem;
}

.seat--occupied {
  filter: grayscale(1);
  color: #888888;
}

.seat--selected {
  color: red;
}

.seat__in {
  width: 3rem;
  height: 3rem;
}

.seat__number {
  fill: currentColor;
  font-family: "Open Sans";
  font-size: 36px;
}

.btn {
  color: white;
  background-color: #ed6a5a;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
}

.btn:hover {
  background-color: #eb5846;
}

.btn:disabled {
  background-color: lightgray;
  cursor: initial;
}

button:not([disabled]),
label {
  cursor: pointer;
}
